<div class="principal">
  <div class="nav-busqueda ">
    <h3 class="titulo" style="justify-content: center;padding-top: 2%;width: 30%;"> List Albums of User</h3>
    <div>
      <h2>Name User = {{nameUser}}</h2>
      <h2>Total Post = {{totalPostUser}}</h2>
    </div>
  <div class="mat-elevation-z8" style="margin-left: 50px;width: 92%;">
    <table mat-table [dataSource]="dataSource" class="table-responsive" matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="title" class="name">Title Album</th>
        <td mat-cell *matCellDef="let row" class="name">
          {{row.title}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; " class="header-table"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No se encontraron resultados para "{{input.value}}"</td>
      </tr> -->
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,15]" aria-label="Select page of users"></mat-paginator>
  </div>

</div>
